<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My App</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
</head>
    <body>
        <div class="wrapper">
            <header></header>
            <section class="main">
                <nav class="side-bar">
                    <ul>
                        <li><a href="/menu" id="submit">תפריט</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </body>
</html>