<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Credit-Success</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/credit-payment.js"></script>
</head>
<body>

<section class="payment-wrapper">

    <section class="success-message"><p>התשלום בוצע בהצלחה!</p></section>
    <section class="back-button"><p>חזור לדף הבית</p></section>



</section>

</body>
</html>