/*/////////////////////////////////////////////*/
			/* CONTROL-PANEL */
/*/////////////////////////////////////////////*/

.control-panel-container{
	width: 95%;
	height: 100%;
	margin: $auto;
	background-color: #FFF;
}

.order-container{
	width: 100%;
	height: 45%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: $bg-color;
	box-shadow: 0px 0px 5px 1px #000;
	border: 1px solid #B6B6B6;

	.order-index{
		height: 100%;
		width: 10%;
		display: table;
		float: right;
		p{
			display: table-cell;
			line-height: 100%;
			font-size: 2500%;
			color: $txt-color;
		}
	}

	.meal-container{
		height: 95%;
		max-width: 20%;
		padding: 10px;
		margin-right: 5px;
		background-color: lightgrey;
		border-radius: 5px;
		float: right;
	}

	.meal-title{
		font-size: 50px;
	}
	.meal-additions-container {
		width: 100%;
		overflow: hidden;
		.meal-addition-type {
			float: right;
			font-size: 30px;
			font-weight: bold;
		}
		.meal-addition-items {
			float: right;
			font-size: 30px;
		}
	}
}

.order-details-container{
	width: 20%;
	height: 100%;
	background-color: cornsilk;
	float: left;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 1px #000;
}

.administrative-details-container{
	width: 100%;
	height: 10%;
	margin-top: 2%;
	.detail-container{
		height: 100%;
		width: 25%;
		display: inline-block;
	}
	.detail-box{
		height: 100%;
		width: 90%;
		margin: auto;
		text-align: center;
		box-shadow: 0px 0px 5px 1px #000;
		border-radius: 5px;
		background-color: #FFF;
		display: table;
		p{
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			color: $txt-color;
			font-weight: bold;
			font-size: 100%;
		}
	}
}

.customer-details{
	height: 70%;
	width: 97%;
	margin: 10px auto;
	box-shadow: 0px 0px 5px 1px #000;
	border-radius: 5px;
	background-color: #FFF;
	.detail{
		width: 95%;
		height: 10%;
		margin: auto;
		display: table;
		p{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: $txt-color;
			font-weight: bold;
			font-size: 100%;
		}
	}
}

.update-status-container{
	height: 10%;
	width: 100%;
	.status-bar{
		width: 95%;
		height: 80%;
		margin: 20px auto;
		box-shadow: 0px 0px 5px 1px #000;
		border-radius: 100px;
		background-color: #FFF;
	}
	.status-level{
		height: 100%;
		width: 25%;
		display: table;
		float: right;
		background-color: #FFF;
		cursor: pointer;
		p{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-weight: bold;
			font-size: 90%;
			color: $txt-color;
		}
	}
	.first-status{
		border-bottom-right-radius: 100px;
		border-top-right-radius: 100px;
	}
	.last-status{
		border-bottom-left-radius: 100px;
		border-top-left-radius: 100px;
	}
	.status-level-selected{
		background-color: green;
		p{
			color: #FFF;
		}
	}
}


