.payment-wrapper{
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.payment-header{
  height: 7.5%;
  width: 100%;
  background-color: #FFF;
}

.payment-logo{
  width: 40%;
  height: 100%;
}

.payment-content{
  height: 92.5%;
  width: 100%;
  background-color: grey;
}

iframe{
  height: 100%;
  width: 100%;
}