/*/////////////////////////////////////////////*/
			/* EDIT-FOOD-ITEM */
/*/////////////////////////////////////////////*/

form{
	margin-top: 50px;
	margin-right: 150px;
}

textarea{
	width: 450px;
	height: 70px;
}