/*/////////////////////////////////////////////*/
			/* EDIT-FOOD-ITEM */
/*/////////////////////////////////////////////*/

form{
	margin-top: 50px;
	margin-right: 150px;
}

input[type=text]{
	width: 600px;
	height: 50px;
}