/*/////////////////////////////////////////////*/
				/* MAIN */
/*/////////////////////////////////////////////*/

.main{
	width: 100%;
	height: 70%;
	background-color: #97A778;
	margin-top: 1px;
}

.main-content{
	height: 100%;
	width: 85%;
	float: left;
}

.side-bar{
	width: 15%;
	height: 100%;
	float: right;
	ul{
		width: 100%;
		display: table;
	}
	li{
		width: 100%;
		list-style-type: none;
		text-align: center;
		line-height: 35px;
		vertical-align: middle;
	}
	a{
		font-family: Arial;
		font-size: 14px;
		color: $color;
		text-decoration: none;
		&:hover{
			font-weight: bold;
		}
	}
}