/*/////////////////////////////////////////////*/
				/* MENU ITEMS */
/*/////////////////////////////////////////////*/

.item-container{
	width: 80%;
	height: 150px;
	margin: $auto;
	background-color: #FFF;
}