/*/////////////////////////////////////////////*/
				/* MENU */
/*/////////////////////////////////////////////*/

.food-type-container{

	display: table-cell;
	text-align: center;
	vertical-align: middle;
	float: right;
	margin: 1px 1px;
	width: 200px;
	height: 200px;
	background: url('../images/img.png') no-repeat;
	background-size: contain;
	opacity: 1;

	p{
		font-size: 14px;
	}

	&:hover{
		opacity: 0.8;
	}

}