/*/////////////////////////////////////////////*/
				/* MENU ITEMS */
/*/////////////////////////////////////////////*/

.item-container{

	width: 90%;
	height: 100px;
	margin: $auto;
	padding: 5px;
	background-color: #FFF;
	cursor: pointer;

	.image-container{

		width: 20%;
		height: 100%;
		float: right;
		background-image: url('../images/img.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;

	}

	.info-container{

		display: block;
		width: 60%;
		height: 100%;
		float: right;

	}

	.title{

		width: 100%;
		height: 30%;
		display: table;

		p{

			display: table-cell;
			padding-right: 10px;
			vertical-align: middle;
			font-weight: $bold;

		}

	}

	.description{

		width: 100%;
		height: 70%;
		display: table;

		p{

			display: table-cell;
			padding-top: 5px;
			padding-right: 10px;

		}

	}

	.price-container{

		width: 10%;
		height: 100%;
		float: right;
		display: table;

		p{

			display: table-cell;
			text-align: center;
			color: $price-color;
			vertical-align: middle;

		}

	}

	.edit-menu-item{

		width: 10%;
		height: 100%;
		float: right;
		display: table;

		a{
			font-size: 12px;
			color: $link-color;
			font-weight: bold;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}

	}

}

.addition-items-container{

	width: 90%;
	overflow: hidden;
	margin: $auto;
	padding: 5px;
	background-color: #FFF;
	display: none;

	.additions-set-container{

		width: 100%;


		.set-title{

			display: table;
			width: 100%;
			height: 25px;
			background-color: $bg-color;

			p{

				display: table-cell;
				vertical-align: middle;
				font-weight: bold;
				padding-right: 5px;

			}

		}

		.set-items-container{

			width: 100%;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;

			.set-item{

				width: 18%;
				margin-top: 30px;
				display: inline-block;
				border: solid 1px $txt-color;
				background-color: $bg-color;

				.header-container{

					width: 100%;
					height: 50px;

					.info{

						width: 80%;
						height: 100%;
						float: right;

						.title{

							width: 100%;
							height: 30%;
							display: table;

							p{
								font-size: 12px;
								text-align: right;
								padding-right: 5px;
								font-weight: bold;
								display: table-cell;

							}

						}

						.description{

							width: 100%;
							height: 70%;
							display: table;

							p{
								font-size: 11px;
								text-align: right;
								padding-right: 5px;
								display: table-cell;

							}

						}

					}

					.price{

						width: 20%;
						height: 100%;
						float: right;
						display: table;

						p{
							font-size: 11px;
							text-align: center;
							vertical-align: middle;
							color: $price-color;
							display: table-cell;

						}

					}

				}

				.image-container{

					width: 100%;
					height: 130px;
					margin: $auto;
					background: url('../images/img.png') no-repeat;
					background-color: #FFF;
					background-size: contain;
					background-position: center center;

				}

				.edit-container{

					width: 100%;
					height: 50px;
					display: table;

					a{
						font-size: 12px;
						color: $link-color;
						font-weight: bold;
						display: table-cell;
						text-align: center;
						vertical-align: middle;
					}

				}

			}

		}

	}

}

























