/*/////////////////////////////////////////////*/
				/* MIXINS */
/*/////////////////////////////////////////////*/

/* Screen Sizes */
$medium: 1024px;
$small: 640px;

@mixin breakpoint($point) {
	@media only screen and (max-width: $point) {
		@content;
	}
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}