.success-message{
  height: 50%;
  width: 50%;
  display: table;
  p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
  }
}

.back-button{
  height: 50%;
  width: 50%;
  display: table;
  p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
  }
}