/*/////////////////////////////////////////////*/
				/* STRUCTURE */
/*/////////////////////////////////////////////*/

html, body{
	width: 100%;
	height: 100%;
	direction: rtl;
}

*{
	margin: 0;
	padding: 0;
}

.wrapper{
	height: 100%;
	width: 50%;
	margin: 0 auto;
}

header{
	width: 100%;
	height: 150px;
	background-color: #97A778;
	background-image: url('../images/MS_logo.png');
	background-repeat: no-repeat;
	background-position: right bottom;

}

.main{
	width: 100%;
}