/*/////////////////////////////////////////////*/
/* STRUCTURE */
/*/////////////////////////////////////////////*/
html, body {
  width: 100%;
  height: 100%;
  direction: rtl;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

/*/////////////////////////////////////////////*/
/* MIXINS */
/*/////////////////////////////////////////////*/
/* Screen Sizes */
.bold {
  font-weight: bold;
}

.clear {
  clear: both;
}

/*/////////////////////////////////////////////*/
/* HEADER */
/*/////////////////////////////////////////////*/
header {
  width: 100%;
  height: 20%;
  background-color: #97A778;
  background-image: url("../images/MS_logo.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

/*/////////////////////////////////////////////*/
/* MAIN */
/*/////////////////////////////////////////////*/
.main {
  width: 100%;
  height: 70%;
  background-color: #97A778;
  margin-top: 1px;
}

.side-bar {
  width: 15%;
  height: 100%;
  float: right;
}
.side-bar ul {
  width: 100%;
  display: table;
}
.side-bar li {
  width: 100%;
  list-style-type: none;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
}
.side-bar a {
  font-family: Arial;
  font-size: 14px;
  color: #002E02;
  text-decoration: none;
}
.side-bar a:hover {
  font-weight: bold;
}

.view-style {
  height: 100%;
  width: 85%;
  float: left;
}

/*/////////////////////////////////////////////*/
/* MENU */
/*/////////////////////////////////////////////*/
.menu {
  display: none;
  width: 100%;
  height: 100%;
}

.menu-container {
  display: table;
  margin: 30px auto;
}

.food-type-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  float: right;
  margin: 1px 1px;
  width: 200px;
  height: 200px;
  background: url("../images/img.png") no-repeat;
  background-size: contain;
  opacity: 1;
}
.food-type-container p {
  font-family: Arial;
  color: #002E02;
  font-size: 14px;
}
.food-type-container:hover {
  opacity: 0.8;
}
