/*/////////////////////////////////////////////*/
/* STRUCTURE */
/*/////////////////////////////////////////////*/
html, body {
  width: 100%;
  height: 100%;
  direction: rtl;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 150px;
  background-color: #97A778;
  background-image: url("../images/MS_logo.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.main {
  width: 100%;
}

/*/////////////////////////////////////////////*/
/* MIXINS */
/*/////////////////////////////////////////////*/
/* Screen Sizes */
.bold {
  font-weight: bold;
}

.clear {
  clear: both;
}

/*/////////////////////////////////////////////*/
/* HEADER */
/*/////////////////////////////////////////////*/
/*/////////////////////////////////////////////*/
/* MAIN */
/*/////////////////////////////////////////////*/
.main, .main-content, .side-bar {
  background-color: #97A778;
}

.main-content {
  width: 100%;
  width: 85%;
  display: table;
  float: left;
}

.side-bar {
  width: 15%;
  float: right;
}
.side-bar ul {
  width: 100%;
  display: table;
}
.side-bar li {
  width: 100%;
  list-style-type: none;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
}
.side-bar a {
  font-family: Arial;
  font-size: 14px;
  color: #002E02;
  text-decoration: none;
}
.side-bar a:hover {
  font-weight: bold;
}

/*/////////////////////////////////////////////*/
/* MENU */
/*/////////////////////////////////////////////*/
.food-type-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  float: right;
  margin: 1px 1px;
  width: 200px;
  height: 200px;
  background: url("../images/img.png") no-repeat;
  background-size: contain;
  opacity: 1;
}
.food-type-container p {
  font-family: Arial;
  color: #002E02;
  font-size: 14px;
}
.food-type-container:hover {
  opacity: 0.8;
}

/*/////////////////////////////////////////////*/
/* MENU ITEMS */
/*/////////////////////////////////////////////*/
.item-container {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  background-color: #FFF;
}
